<section>
    <div class="container">
        <div id="FestLoginPopup">

        </div>
        <div class="adminHome-section-one">
            <h4 class="adminHome-sectin-one-SubHeading">All Event</h4>
            <hr>
            <p id="LoginEventId" hidden>{{LoginEvent.EventId}}</p>
            <div class="adminHome-div">

                {{#if allEvent.[0]}}
                {{#each allEvent}}
                <div class="adminHome-section-one-Fest">

                    <div class="adminHome-section-one-Div-main" onclick="festLogin('{{this.EventId}}')">
                        <img class="adminHome-section-one-Image" src="/images/event-logo/{{this.EventId}}.jpg"
                            onerror="this.onerror=null;callfun(this);" alt="fest-logo">
                        <div class="adminHome-section-one-discription">
                            <h4>{{this.Name}} {{#if this.Status}} <i style=" color: rgb(16, 139, 0); font-size:18px;"
                                    title="Event Completed" class="bi bi-check-circle-fill"></i>{{/if}}</h4>
                            <p><span style="font-style: italic; color:gray">{{this.EventId}}</span>
                            </p>
                        </div>

                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="emptyFest">
                    <h3><i class="bi bi-inbox-fill"></i> No Event</h3>
                </div>
                {{/if}}

            </div>
        </div>
    </div>
</section>




{{!-- fest login popup --}}
<script>
    function festLogin(EventId) {

        const mainDiv = document.getElementById('FestLoginPopup');
        const loginFest = document.getElementById('LoginEventId').innerHTML
        const borderDiv = document.createElement("div")
        const ImageDiv = document.createElement("div")
        const Image = document.createElement("img")
        const h3 = document.createElement("h3")
        const hr = document.createElement("hr")
        const ContentDiv = document.createElement("div")
        const form = document.createElement("form")
        const formDiv1 = document.createElement("div")
        const formDiv2 = document.createElement("div")
        const label = document.createElement("label")
        const input = document.createElement("input")
        const input2 = document.createElement("input")
        const i = document.createElement("i")
        const button = document.createElement("button")
        const CloseIcon = document.createElement("i")
        const a = document.createElement("a")
        const a1 = document.getElementById('adminHome-section-one-Fest')
        const forget = document.createElement("a");
        var loginFestId = parseInt(loginFest)

        if (EventId == loginFest) {
            location.href = "/event/" + EventId + "/dashboard";

        } else {
            mainDiv.innerHTML = null
            borderDiv.className = "festLoginPopupDiv";
            ImageDiv.className = "admin-login-header";
            Image.className = "admin-login-union-logo";
            Image.src = "/images/images/nsa-online-ping.png";
            Image.alt = "Union-Logo";
            h3.className = "admin-login-head";
            h3.innerHTML = "Event login";
            hr.className = "admin-login-hr";
            ContentDiv.className = "admin-login-content";
            form.action = "/event/login";
            form.method = "POST";
            formDiv1.className = "admin-login-form";
            formDiv2.className = "admin-login-form";
            label.innerHTML = "Password";
            input.type = "password";
            input.name = "Password";
            input.id = "Password";
            input.autofocus = "true"
            input.required = "true"
            input2.name = 'EventId'
            input2.value= EventId
            input2.hidden = true
            i.id = "Icon";
            i.className = "bi bi-eye-fill";
            button.type = "submit";
            button.innerHTML = "Login";
            CloseIcon.className = "bi bi-x-lg festLogin-closeIcon"
            forget.innerHTML = "Forgot password ?"
            forget.className = 'festForgetClass'
            forget.href = "/event/forgot-password"
            i.onclick = function () {
                var x = document.getElementById("Password");
                var i = document.getElementById("Icon");

                if (x.type === "password") {
                    x.type = "text"
                    i.className = "bi bi-eye-slash-fill"

                } else {
                    x.type = "password"
                    i.className = "bi bi-eye-fill"
                }
            }
            CloseIcon.onclick = function () {

                var div = this.parentElement;
                div.remove();
            }



            mainDiv.appendChild(borderDiv)
            borderDiv.appendChild(ImageDiv)
            borderDiv.appendChild(CloseIcon)
            borderDiv.appendChild(h3)
            borderDiv.appendChild(hr)
            borderDiv.appendChild(ContentDiv)
            ImageDiv.appendChild(Image)
            ContentDiv.appendChild(form)
            form.appendChild(formDiv1)
            form.appendChild(formDiv2)
            formDiv1.appendChild(label) 
            formDiv1.appendChild(input)
            formDiv1.appendChild(input2)
            formDiv1.appendChild(i)
          //  formDiv1.appendChild(forget)
            formDiv2.appendChild(button)
        }


    }
</script>


<script>
    function callfun(obj) {
        var noimg = "/images/images/fest logo demo.jpg";
        obj.src = noimg;
    }
</script>

<script>
    function toIsoString(date) {
        var tzo = -date.getTimezoneOffset(),
            dif = tzo >= 0 ? '+' : '-',
            pad = function (num) {
                var norm = Math.floor(Math.abs(num));
                return (norm < 10 ? '0' : '') + norm;
            };

        return date.getFullYear() +
            '-' + pad(date.getMonth() + 1) +
            '-' + pad(date.getDate()) +
            'T' + pad(date.getHours()) +
            ':' + pad(date.getMinutes()) +
            ':' + pad(date.getSeconds()) +
            dif + pad(tzo / 60) +
            ':' + pad(tzo % 60);
    }

    var dt = new Date();

</script>
<script>
    var current = document.getElementById('home').className = "drop-pop-active"
</script>