<section>
    <div class="group-container">
        <div class="allGroupStudents-mainDiv">
            <div class="GroupAllCategory-header">
                <h4 class="adminHome-sectin-one-SubHeading">Choose Event</h4>
                <hr class="GroupallCategoryheader-hr">
            </div>
        </div>
        <div class="GroupAllStudents-content">
             {{#if SessionActivation}}
            <div class="GroupStudentsZero">
                <div class="pointTabel-div">
                    <div class="pointTable-IconDiv">
                        <i class="bi bi-wifi-off"></i>
                    </div>
                    <p>Pleace Wait... <br> This session not activated</p>
                </div>
            </div>
            {{else}} {{#if EventActiveNull}}
            <div class="GroupStudentsZero">
                <div class="pointTabel-div">
                    <div class="pointTable-IconDiv">
                      <i class="bi bi-hourglass-bottom"></i>
                    </div>
                    <p>Time end</p>
                </div>
            </div>
            {{else}}
            <div class="AddGroupStudetns-Div">
                <form action="/group/events/{{SessionName}}/{{Category}}/choose-event" method="POST">
                    <div class="addStudetns-form">
                        <div> <label for="">Session :</label></div>
                        <div><input type="text" name="SessionName" value="{{SessionName}}" readonly
                                style="cursor: not-allowed; background-color:rgb(211, 211, 211)"></div>
                    </div>
                    <div class="addStudetns-form">
                        <div> <label for="">Category :</label></div>
                        <div><input type="text" name="Category" value="{{Category}}" readonly
                                style="cursor: not-allowed;  background-color:rgb(211, 211, 211)"></div>
                    </div>
                    <div class="addStudetns-form">
                        <div> <label for="">Event ID :</label></div>
                        <div><input type="text" name="EventId" value="{{EventId}}" readonly
                                style="cursor: not-allowed;  background-color:rgb(211, 211, 211)"></div>
                    </div>
                    <div class="addStudetns-form">
                        <div> <label for="">Event :</label></div>
                        <div><input type="text" value="{{EventName}}" readonly
                                style="cursor: not-allowed;  background-color:rgb(211, 211, 211)"></div>
                    </div>

                    <input type="text" name="FestId" value="{{GroupDetails.FestId}}" hidden>
                    <input type="text" name="GroupId" value="{{GroupDetails.GroupId}}" hidden>

                    <div class="addStudetns-form">
                        <div> <label for="">Chest No :</label></div>
                        <div><input type="number" autofocus name="ChestNo" placeholder="type here..." required></div>
                    </div>
                    <div class="addStudetns-form-Button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            {{/if}}{{/if}}
        </div>
    </div>
</section>

<script>
    var current = document.getElementById('G-Events').className = "nav-links-a nav-links-active"
</script>