    <section>
        <div class="group-container">
            <div class="allGroupStudents-mainDiv">
                <div class="GroupAllCategory-header">
                    <h4 class="adminHome-sectin-one-SubHeading"><a href="/group/students/{{SessionName}}"><span class="back-button" style="background-color: var(--color-blueDark2);"><i class="bi bi-chevron-left"></i> Back</span></a>Add {{SessionName}} students</h4>
                    <hr class="GroupallCategoryheader-hr">
                </div>
                <div class="AddGroupStudents-content">
                    {{#if StudentActiveNull }}
                    <div class="GroupStudentsZero">
                        <div class="pointTabel-div">
                            <div class="pointTable-IconDiv">
                              <i class="bi bi-hourglass-bottom"></i>
                            </div>
                            <p>Time end</p>
                        </div>
                    </div>
                    {{else}}
                    <div class="AddGroupStudetns-Div">
                        <form action="/group/students/{{SessionName}}/add-students" method="POST">
                            <div class="addStudetns-form">
                                <div> <label for="">CIC No :</label></div>
                                <div><input type="number" name="CicNo" autofocus required></div>
                            </div>
                            <div class="addStudetns-form">
                                <div> <label for="">Full name :</label></div>
                                <div><input type="text" name="FullName" required></div>
                            </div>
                            <div class="addStudetns-form-Button">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                {{/if}}
                {{#if cicNOError}}
                <div class="groupAlertBorder">
                    <div class="groupAlert-box-close-button">
                        <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                    </div>
                    <div class="groupAlertHead">
                        <i class="bi bi-exclamation-circle"></i>
                        <h4>Create failed !</h4>
                    </div>
                    <div class="groupAletCountent">
                        <h5>{{cicNOError}}</h5>
                    </div>
                    <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
                </div>
                {{/if}}
                {{#if cicNoSuccess}}
                <div style=" background-color: rgb(138, 255, 177); border-color:rgb(0, 165, 55)" class="groupAlertBorder">
                    <div class="groupAlert-box-close-button">
                        <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                    </div>
                    <div class="groupAlertHead" style=" color: rgb(0, 126, 42);">
                        <i class="bi bi-exclamation-circle"></i>
                        <h4>Create Success !</h4>
                    </div>
                    <div class="groupAletCountent" style="color: rgb(56, 95, 69);">
                        <h5>{{cicNoSuccess}}</h5>
                    </div>
                    <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
                </div>
                {{/if}}
            </div>
        </div>
    </section>

    {{!-- active button --}}
    <script>
        var current = document.getElementById('G-Students').className = "nav-links-a nav-links-active"

    </script>