<section>
    <div class="group-container">
        <div class="allGroupStudents-mainDiv">
            <div class="GroupAllCategory-header">
                <h4 class="adminHome-sectin-one-SubHeading"> {{SessionName}} / Eidt students</h4>
                <hr class="GroupallCategoryheader-hr">
            </div>
            <div class="AddGroupStudents-content">
               
                <div class="AddGroupStudetns-Div">
                    <form action="/group/students/{{SessionName}}/{{studentEvents.ChestNo}}/edit" method="POST">
                        <div class="addStudetns-form">
                            <div> <label for="">Chset no :</label></div>
                            <div><input  type="text" name="ChestNo" value="{{studentEvents.ChestNo}}" required ></div>
                        </div>
                        <div class="addStudetns-form">
                            <div> <label for="">CIC No :</label></div>
                            <div><input style="cursor:not-allowed; background-color:rgb(202, 202, 202)" type="number" name="CicNo" value="{{studentEvents.CicNo}}" readonly ></div>
                        </div>
                        <div class="addStudetns-form">
                            <div> <label for="">Full name :</label></div>
                            <div><input type="text" name="FullName" value="{{studentEvents.FullName}}" required></div>
                        </div>
                        <div class="addStudetns-form-Button">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
           
            {{#if cicNOError}}
            <div class="groupAlertBorder">
                <div class="groupAlert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="groupAlertHead">
                    <i class="bi bi-exclamation-circle"></i>
                    <h4>Create failed !</h4>
                </div>
                <div class="groupAletCountent">
                    <h5>{{cicNOError}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
            </div>
            {{/if}}
            {{#if cicNoSuccess}}
            <div style=" background-color: rgb(138, 255, 177); border-color:rgb(0, 165, 55)" class="groupAlertBorder">
                <div class="groupAlert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="groupAlertHead" style=" color: rgb(0, 126, 42);">
                    <i class="bi bi-exclamation-circle"></i>
                    <h4>Create Success !</h4>
                </div>
                <div class="groupAletCountent" style="color: rgb(56, 95, 69);">
                    <h5>{{cicNoSuccess}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
            </div>
            {{/if}}
        </div>
    </div>
</section>

{{!-- active button --}}
<script>
    var current = document.getElementById('G-Students').className = "nav-links-a nav-links-active"

</script>