<section>
    <div class="group-container">
        <div class="allCategory-mainDiv">
            {{#if letestThreeNotifications.[0]}}
            <div style="margin-top: 15px;" class="NotificationScroll">
                <div class="latestUpdated">
                    <h4>Latest updates</h4>
                </div>
                <marquee behavior="scroll" scrollamount="8" direction="left" onmouseover="this.stop()"
                    onmouseout="this.start()">
                    {{#each letestThreeNotifications}}
                    <img src="/images/images/new1.gif" alt="">
                    <a href="{{this.Link}}">{{this.Header}}</a> <span>|</span>
                    {{/each}}
                </marquee>
            </div>
            {{/if}}
            {{!-- Timer --}}
            <div id="countdownDiv" style="display: none;">
                <div class="countdown" style="margin-top: 30px; margin-bottom:30px;">
                    <div>
                        <div class="title">
                            <h3 id="timerTitle">fest will start soon !</h3>
                        </div>
                        <div class="timer-div">
                            <div class="container-day">
                                <h1 id="day" style="color: var(--color-two);" class="day">--</h1>
                                <h4>Days</h4>
                            </div>
                            <div class="container-day">
                                <h1 id="Hour" style="color: var(--color-two);" class="hour">--</h1>
                                <h4>Hours</h4>
                            </div>
                            <div class="container-day">
                                <h1 id="Minute" style="color: var(--color-two);" class="minute">--</h1>
                                <h4>Minutes</h4>
                            </div>
                            <div class="container-day">
                                <h1 id="Second" style="color: var(--color-two);" class="second">--</h1>
                                <h4>Seconds</h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="groupProfileborder">
                <div class="ImageDiv">
                    <img src="/images/fest-logo/{{GroupDetails.FestId}}.jpg" onerror="this.onerror=null;callfun(this);"
                        alt="Fest logo">
                </div>
                <div class="Content">
                    <div class="festContent">
                        <div class="festContentBorder">
                            <h3>Fest details</h3>
                            <div class="header">
                                <p>Tittle </p>
                                <p>Fest ID </p>
                                <p>Convener </p>
                                <p>Date </p>

                            </div>
                            <div class="answer">
                                <p>: {{FestDetails.FestName}}</p>
                                <p>: {{FestDetails.FestId}}</p>
                                <p>: {{FestDetails.FestConvener}}</p>
                                <p>: <span id="nowFestDate">{{FestDetails.FestDate}}</span></p>


                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="festContentBorder">
                            <h3>Group details</h3>
                            <div class="header">
                                <p>Tittle </p>
                                <p>Group ID </p>
                                <p>Convener </p>
                                <p>Total Students </p>

                            </div>
                            <div class="answer">
                                <p>: {{GroupDetails.GroupName}}</p>
                                <p>: {{GroupDetails.GroupId}}</p>
                                <p>: {{GroupDetails.Convener}}</p>
                                <p>: {{studentsCount}}</p>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div style="margin-top: 15px;" class="GroupAllCategory-header">
                <h4 class="adminHome-sectin-one-SubHeading">Downloads</h4>
                <hr class="GroupallCategoryheader-hr">
            </div>
            <div>
                <div class="otherContentDiv">
                    {{#if allSchedules}}
                    {{#each allSchedules}}
                    <div style=" padding-top: 8px; padding-bottom: 8px; " class="otherItems">
                        <div style="display: flex; align-items:center">
                            <i style="margin-right: 5px; margin-right:15px" class="bi bi-file-earmark-pdf-fill"></i>
                            <p style="text-align: start;"> {{this.Title}} </p>
                        </div>
                        <a href="/files/program-schedules/{{this.FestId}}{{this.Title}}.pdf" target="_blank"> <button
                                class="print-button"><i class="bi bi-download"></i> Download</button></a>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="GroupProgrmShedulEmpty">
                        <p><i class="bi bi-file-earmark-excel-fill"></i> Empty files</p>
                    </div>
                    {{/if}}

                </div>
            </div>
        </div>

    </div>
    <div id="feed" style="display: none;" class="feedbackDiv">
        <a href="/group/other/feed-back-form">
            <h4><i class="bi bi-chat-square-text-fill"></i> Enter your feedback <span
                    style="font-weight: normal; margin-left:5px"> Click here</span> </h4>
        </a>
    </div>
    <script>
        const showFeed = setTimeout(onFeed, 10000);
        const OutFeed = setTimeout(offFeed, 30000);

        function onFeed() {
            document.getElementById("feed").style.display = "block"
        }
        function offFeed() {
            document.getElementById("feed").style.display = "none"
        }
    </script>
</section>



{{!-- active button --}}
<script>
    var current = document.getElementById('G-Home').className = "nav-links-a nav-links-active"
</script>


<script>
    function callfun(obj) {
        var noimg = "/images/images/fest logo demo.jpg";
        obj.src = noimg;
    }
</script>


{{!-- Timer --}}
<script>

    let nowFestDate = document.getElementById('nowFestDate').innerHTML;

    if (nowFestDate[1] == " ") {
        nowFestDate = "0" + nowFestDate
    }

    let monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    let nowFestYear = nowFestDate.slice(11, 16)
    let nowFestMonth = nowFestDate.slice(5, 8)
    let nowFestDay = nowFestDate.slice(0, 2)

    var nowFestFullDate = nowFestMonth + " " + nowFestDay + ", " + nowFestYear + " 07:00:00"
    const countdown = () => {
        const countDate = new Date(nowFestFullDate).getTime();
        const now = new Date().getTime()


        const gap = countDate - now;

        // How the fuck does time work ?
        const second = 1000;
        const minute = second * 60
        const hour = minute * 60
        const day = hour * 24

        // calculate the shit
        let textDay = Math.floor(gap / day);
        let textHour = Math.floor((gap % day) / hour)
        let textMinte = Math.floor((gap % hour) / minute)
        let textSecond = Math.floor((gap % minute) / second)

        // 



        if (textDay < 10) {
            textDay = "0" + textDay
        }
        if (textHour < 10) {
            textHour = "0" + textHour
        }
        if (textMinte < 10) {
            textMinte = "0" + textMinte
        }
        if (textSecond < 10) {
            textSecond = "0" + textSecond
        }

        document.querySelector(".day").innerText = textDay
        document.querySelector(".hour").innerText = textHour
        document.querySelector(".minute").innerText = textMinte
        document.querySelector(".second").innerText = textSecond
        document.getElementById('countdownDiv').style.display = "block"

        if (textSecond[1] == "-") {
           document.getElementById('countdownDiv').style.display = "none"

        }
       


    }

    const intervel = setInterval(countdown, 1000)
    if (textSecond[1] == "-") {
        clearInterval(intervel)
    }

</script>