<section>
    <div class="group-container">
        <div class="allGroupStudents-mainDiv">
            <div class="GroupAllCategory-header">
                <h4 class="adminHome-sectin-one-SubHeading"><a href="/group/students/{{Category}}"><span
                            class="back-button" style="background-color: var(--color-blueDark2);"><i
                                class="bi bi-chevron-left"></i>
                            Back</span></a>{{Category}} / View student</h4>
                <h4 class="adminHome-sectin-one-SubHeading"></h4>
                <hr class="GroupallCategoryheader-hr">
            </div>
            <div class="groups-content">
                <div class="gorup-content-header">
                    <div class="session1">
                        <h3 style="color: var(--color-blueDark);">{{Student.CicNo}} - {{Student.Name}}
                            ({{Student.ChestNo}})</h3>
                        <p> <span style="font-weight: 600;">Maximum</span> {{#each EventLimit.Sub}} |
                            {{this.Title}} : {{this.Limit}} {{/each}} </p>
                        {{#if EventLimit.Sub.[0].GeneralLimit}}
                        <p> <span style="font-weight: 600;">General maximum</span> {{#each EventLimit.Sub}} |
                            {{this.Title}} : {{this.GeneralLimit}} {{/each}} </p>
                        {{else}}
                        <p>With General Items</p>
                        {{/if}}
                    </div>
                </div>

                <div class="gorup-content-events">
                    <div class="allStudents-SessionTwo">
                        <table id="AllStudents" class="auto-index">
                            <thead>
                                <tr>
                                    <th class="StudentsTable-TR-Slno">Sl no</th>
                                    <th class="StudentsTable-TR-ChestNo">Item ID</th>
                                    <th class="StudentsTable-TR-CIC">Item </th>
                                    <th class="StudentsTable-TR-Name">Category</th>
                                    <th class="StudentsTable-TR-Name">Sub</th>
                                    {{#if Event.MarkStatus}}{{else}}
                                    <th class="StudentsTable-TR-Control">Delete</th>{{/if}}
                                </tr>
                            </thead>
                            <tbody>

                                {{#each Student.Items}}
                                <tr>
                                    <td class="StudentsTable-TD-Slno"></td>
                                    <td class="StudentsTable-TD-ChestNo">{{this.ItemId}}</td>
                                    <td class="StudentsTable-TD-CIC">{{this.Name}}</td>
                                    <td class="StudentsTable-TD-Name">{{this.ItemCategory}}/{{this.ItemSubCategory}}
                                    </td>
                                    <td class="StudentsTable-TD-Name">{{this.Type}}</td>
                                    {{#if ../Event.MarkStatus}}{{else}}
                                    <td><a href="/group/students/{{../Category}}/{{../Student.ChestNo}}-{{this.ItemId}}/delete-event"
                                            onclick="return confirm('Are you want to remove - {{this.Name}} -  item ?')"><button
                                                class="pointCateoryDeletButton"> <i
                                                    class="bi bi-trash"></i></button></a>
                                    </td>
                                    {{/if}}
                                </tr>
                                {{/each}}


                            </tbody>
                        </table>
                    </div>

                    <div style="margin-top: 10px;">
                        <div class="pointTable-printbutton">
                            <button class="print-button" onclick="PrintDiv('print-container','nsaonline.in')"><i
                                    class="bi bi-printer-fill"></i>
                                Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{!-- print side --}}
<div hidden id="print-container">

    <head>
        <link rel='stylesheet' href='/stylesheets/admin/print.css' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    </head>
    <table class="printTable-border">
        <thead>
            <tr>
                <td>
                    <div class="printHeader">
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="printContent">

                        <table class="auto-index print-Table">
                            <thead>



                                <tr class="studentHead">
                                    <td style="display: none;"></td>
                                    <td colspan="2" rowspan="4">Chest no:<br> <span
                                            style="font-size: 35px; font-weight: bold;">{{studentEvents.ChestNo}}</span>
                                    </td>
                                    <td colspan="4" style="text-align: start;"> Full name : {{studentEvents.FullName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="display: none;"></td>
                                    <td colspan="2" style="text-align: start;">CIC no: {{studentEvents.CicNo}}</td>
                                    <td colspan="2" style="text-align: start;">{{Category}}</td>
                                </tr>
                                <tr>
                                    <td style="display: none;"></td>
                                    <td colspan="4" style="text-align: start;">Group Name : {{GroupDetails.GroupName}} (
                                        {{studentEvents.GroupId}} )</td>
                                </tr>
                                {{#if EventLimit.GeneralStageEventCount}}
                                <tr class="studentHead">
                                    <td style="display: none;"></td>
                                    <td colspan="6">
                                        <p> <span style="font-weight: 600;">Non general</span> | Stage event :
                                            {{studentLimitCount.StageCount}}/{{EventLimit.StageEventCount}} | Offstage
                                            event :
                                            {{studentLimitCount.OffStageCount}}/{{EventLimit.OffStageEventCount}}</p>
                                    </td>
                                </tr>
                                <tr class="studentHead">
                                    <td style="display: none;"></td>
                                    <td colspan="6">
                                        <p> <span style="font-weight: 600;">General</span> | Stage event :
                                            {{studentLimitCount.GeneralStageCount}}/{{EventLimit.GeneralStageEventCount}}
                                            |
                                            Offstage
                                            event :
                                            {{studentLimitCount.GeneralOffStageCount}}/{{EventLimit.GeneralOffStageEventCount}}
                                        </p>
                                    </td>
                                </tr>
                                {{else}}
                                <tr class="studentHead">
                                    <td style="display: none;"></td>
                                    <td colspan="6">
                                        <p>Stage event : <span
                                                id="stagePlacePrint"></span>/{{EventLimit.StageEventCount}} |
                                            Offstage
                                            event : <span
                                                id="offstagePlacePrint"></span>/{{EventLimit.OffStageEventCount}}
                                        </p>
                                    </td>
                                </tr>
                                {{/if}}


                                <tr>
                                    <th class="StudentsTable-TR-Slno">Sl no</th>
                                    <th class="StudentsTable-TR-ChestNo">Event ID</th>
                                    <th class="StudentsTable-TR-CIC">Event </th>
                                    <th class="StudentsTable-TR-Name">Category</th>
                                    <th class="StudentsTable-TR-Name">Section</th>
                                    <th class="StudentsTable-TR-Control">point category</th>

                                </tr>
                            </thead>
                            <tbody>

                                {{#each studentEvents.StageEvents}}
                                <tr>
                                    <td class="StudentsTable-TD-Slno"></td>
                                    <td class="StudentsTable-TD-ChestNo">{{this.EventId}}</td>
                                    <td class="StudentsTable-TD-CIC">{{this.EventName}}</td>
                                    <td class="StudentsTable-TD-Name">STAGE</td>
                                    <td class="StudentsTable-TD-Name">{{this.status}}</td>
                                    <td class="StudentsTable-TD-Name">{{this.PointCategoryName}}</td>

                                </tr>
                                {{/each}}
                                {{#each studentEvents.OffStageEvents}}
                                <tr>
                                    <td class="StudentsTable-TD-Slno"></td>
                                    <td class="StudentsTable-TD-ChestNo">{{this.EventId}}</td>
                                    <td class="StudentsTable-TD-CIC">{{this.EventName}}</td>
                                    <td class="StudentsTable-TD-Name">OFF STAGE</td>
                                    <td class="StudentsTable-TD-Name">{{this.status}}</td>
                                    <td class="StudentsTable-TD-Name">{{this.PointCategoryName}}</td>

                                </tr>
                                {{/each}}

                            </tbody>

                        </table>

                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="printFooter">

                    </div>

                </td>
            </tr>
        </tfoot>
    </table>

    <div class="print-header-space">
        <div class="print-header-conternt">
            <div>
                <img src="/images/fest-logo/{{FestDetails.FestId}}.jpg" onerror="this.onerror=null;callfun(this);"
                    alt="Fest Logo">
                <div>
                    <h2>{{FestDetails.FestName}} </h2>
                    <h4>FestID : {{FestDetails.FestId}}</h4>
                    <p> Fest Date :{{FestDetails.FestDate}} </p>
                </div>
            </div>
            <div class="sessionTwo">
                <div>
                    <p style="font-weight: bold;"> NOORUL HUDA STUDENTS ASSOCIATION (NSA) </p>
                    <p> Run by: Majma'a Wafy College - Kavanur </p>
                    <p style="font-size: 14px;"> Rahmath nagar, Kavanur P.O, Areekode</p>
                </div>

            </div>
        </div>
        <div class="print-page-headline">
            <h4> - Students' events - </h4>
        </div>
    </div>

    <div class="print-footer-space">
        <i class="bi bi-globe"></i>
        <p>www.nsaonline.in</p>
        <i class="bi bi-envelope"></i>
        <p>nsamajmaakvr@gmail.com</p>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-youtube"></i>
        <i class="bi bi-telegram"></i>
        <p>/follow us</p>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#AllStudents').DataTable();
    });
</script>


{{!-- active button --}}
<script>
    var current = document.getElementById('G-Students').className = "nav-links-a nav-links-active"

</script>

{{!-- plus stage General Stage offStage General OffStage --}}
<script>

    stage = document.getElementById('stage').innerHTML
    offstage = document.getElementById('offstage').innerHTML
    generalstage = document.getElementById('generalstage').innerHTML
    generaloffstage = document.getElementById('generaloffstage').innerHTML
    stagePlace = document.getElementById('stagePlace')
    offstagePlace = document.getElementById('offstagePlace')

    totalStage = parseInt(stage) + parseInt(generalstage)
    totalOffStage = parseInt(offstage) + parseInt(generaloffstage)
    stagePlace.innerHTML = totalStage
    offstagePlace.innerHTML = totalOffStage
    stagePlacePrint.innerHTML = totalStage
    offstagePlacePrint.innerHTML = totalOffStage

</script>