<section>
    <div class="group-container">
        <div class="allGroupStudents-mainDiv">
            <div class="GroupAllCategory-header">
                <h4 class="adminHome-sectin-one-SubHeading"><a href="/group/items/{{Category}}/{{SubCategory}}">
                        <span class="back-button" style="background-color: var(--color-blueDark2);"><i
                                class="bi bi-chevron-left"></i> Back</span></a>{{ItemId}} - {{ItemName}} / View
                    student</h4>
                <hr class="GroupallCategoryheader-hr">
            </div>
            <div class="groups-content">


                <div class="gorup-content-events">
                    {{#if ItemStudents.[0]}}
                    <div class="allStudents-SessionOne">
                        <p>Add student to this item :</p>
                        {{#if GroupDetails.ChooseItem}}
                        <a
                            href="/group/items/{{Category}}/{{SubCategory}}/all-items/{{ItemId}}-{{ItemName}}/choose-item"><button><i
                                    class="bi bi-plus-circle-dotted"></i> Add</button></a>
                        {{else}}
                        <a href=""><button style="background-color:var(--color-delete);"><i
                                    class="bi bi-hourglass-bottom"></i> Time end</button></a>
                        {{/if}}
                    </div>
                    <div class="allStudents-SessionTwo">
                        <table id="AllStudents" class="auto-index">
                            <thead>
                                <tr>
                                    <th class="StudentsTable-TR-Slno">Sl no</th>
                                    <th class="StudentsTable-TR-ChestNo">Chest no</th>
                                    <th class="StudentsTable-TR-ChestNo">CIC no</th>
                                    <th class="StudentsTable-TR-CIC">Full name </th>
                                    {{#if Event.MarkStatus}}{{else}}
                                    <th class="StudentsTable-TR-Control">Delete</th>
                                    {{/if}}
                                </tr>
                            </thead>
                            <tbody>

                                {{#each ItemStudents}}
                                <tr>
                                    <td class="StudentsTable-TD-Slno"></td>
                                    <td class="StudentsTable-TD-ChestNo">{{this.ChestNo}}</td>
                                    <td class="StudentsTable-TD-CIC">{{this.CicNo}}</td>
                                    <td class="StudentsTable-TD-Name">{{this.Name}}</td>
                                    {{#if ../Event.MarkStatus}}{{else}}
                                    <td><a href="/group/items/{{../Category}}/{{../SubCategory}}/all-items/{{../ItemId}}-{{../ItemName}}/all-students/{{this.ChestNo}}/delete-item"
                                            onclick="return confirm('Are you want to delete - {{this.Name}} - this event ?')"><button
                                                class="pointCateoryDeletButton"> <i
                                                    class="bi bi-trash"></i></button></a>
                                    </td>
                                    {{/if}}
                                </tr>
                                {{/each}}



                            </tbody>
                        </table>
                    </div>

                    <div style="margin-top: 10px;">
                        <div class="pointTable-printbutton">
                            <button class="print-button" onclick="PrintDiv('print-container','nsaonline.in')"><i
                                    class="bi bi-printer-fill"></i>
                                Print</button>
                        </div>
                    </div>
                    {{else}}
                    <div class="GroupStudentsZero">
                        <div class="pointTabel-div">

                            <p>You have not added any students this item ...</p>
                            {{#if GroupDetails.ChooseItem}}
                            <a
                                href="/group/items/{{Category}}/{{SubCategory}}/all-items/{{ItemId}}-{{ItemName}}/choose-item">
                                <button style="margin-left: 70px;"><i class="bi bi-plus-circle-dotted"></i> Add
                                    students</button>
                            </a>

                            {{else}}
                            <button style="background-color:var(--color-delete); margin-left: 85px;"><i
                                    class="bi bi-hourglass-bottom"></i>
                                Time
                                end </button>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>


{{!-- print side --}}
<div hidden id="print-container">

    <head>
        <link rel='stylesheet' href='/stylesheets/admin/print.css' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    </head>
    <table class="printTable-border">
        <thead>
            <tr>
                <td>
                    <div class="printHeader">
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="printContent">

                        <table class="auto-index print-Table">
                            <thead>

                                <tr>
                                    <th class="StudentsTable-TR-Slno">Sl no</th>
                                    <th class="StudentsTable-TR-ChestNo">Chest no</th>
                                    <th class="StudentsTable-TR-CIC">CIC no</th>
                                    <th class="StudentsTable-TR-Name">FullName</th>


                                </tr>
                            </thead>
                            <tbody>
                                {{#if EventStudents}}
                                {{#each EventStudents}}
                                <tr>
                                    <td class="StudentsTable-TD-Slno"></td>
                                    <td class="StudentsTable-TD-ChestNo">{{this.ChestNo}}</td>
                                    <td class="StudentsTable-TD-CIC">{{this.CicNo}}</td>

                                    <td class="StudentsTable-TD-Name">{{this.FullName}}</td>

                                </tr>
                                {{/each}}
                                {{else}}
                                <div class="pointTable-nodataDiv">
                                    <p style="text-align: center;">No data available...</p>
                                </div>
                                {{/if}}

                            </tbody>

                        </table>

                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="printFooter">

                    </div>

                </td>
            </tr>
        </tfoot>
    </table>

    <div class="print-header-space">
        <div class="print-header-conternt">
            <div>
                <img src="/images/fest-logo/{{FestDetails.FestId}}.jpg" onerror="this.onerror=null;callfun(this);"
                    alt="Fest Logo">
                <div>
                    <h2>{{FestDetails.FestName}} </h2>
                    <h4>FestID : {{FestDetails.FestId}}</h4>
                    <p> Fest Date :{{FestDetails.FestDate}} </p>
                </div>
            </div>
            <div class="sessionTwo">
                <div>
                    <p style="font-weight: bold;"> NOORUL HUDA STUDENTS ASSOCIATION (NSA) </p>
                    <p> Run by: Majma'a Wafy College - Kavanur </p>
                    <p style="font-size: 14px;"> Rahmath nagar, Kavanur P.O, Areekode</p>
                </div>

            </div>
        </div>
        <div class="print-page-headline">
            <h4> - All Students ( {{Category}} / {{EventId}} - {{EventName}} ) - </h4>
        </div>
    </div>

    <div class="print-footer-space">
        <i class="bi bi-globe"></i>
        <p>www.nsaonline.in</p>
        <i class="bi bi-envelope"></i>
        <p>nsamajmaakvr@gmail.com</p>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-youtube"></i>
        <i class="bi bi-telegram"></i>
        <p>/follow us</p>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#AllStudents').DataTable();
    });
</script>


{{!-- active button --}}
<script>
    var current = document.getElementById('G-Events').className = "nav-links-a nav-links-active"

</script>