<section>
    <div class="group-container">
        <div class="allCategory-mainDiv">
            <div class="GroupAllCategory-header">
                <h4 class="adminHome-sectin-one-SubHeading">Items / Choose Category</h4>
                <hr class="GroupallCategoryheader-hr">
            </div>
            <div class="allcategorycontentDiv">
                <div class="allCategory-content">

                    {{#each allItemCategorys}}
                    {{#each this.Sub}}
                    <a id="mainDiv" href="/group/items/{{../this.CategoryName}}/{{this.Title}}">
                        <div class="allGroupCatetory-items">
                            <h4>{{../this.CategoryName}} - {{this.Title}}</h4>
                            <p>{{this.Count}}</p>
                        </div>
                    </a>
                    {{/each}}
                    {{/each}}

                </div>
            </div>

        </div>

    </div>
</section>


{{!-- active button --}}
<script>
    var current = document.getElementById('G-Events').className = "nav-links-a nav-links-active"

</script>