<section>
    <div class="fest-container">
        <div id="ResultMaintDiv" class="evets-MainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">Published Items - Status</h4>
                <hr>
            </div>

            <div>
                <div class="resultCountent">
                    {{!-- Result Status --}}
                    {{#each TotalItemCount.counts}}
                    <div class="fivteen">
                        <div class="resultBorder">
                            <div class="resultContentBoreder">
                                <div class="graphDiv">
                                    <div class="graphOneDiv">
                                        <div>
                                            <section>
                                                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862"
                                                    width="145" height="145">
                                                    <circle class="circle-chart__background" stroke="#efefef"
                                                        stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431"
                                                        r="15.91549431" />
                                                    <circle class="circle-chart__circle" stroke="#00acc1"
                                                        stroke-width="2"
                                                        stroke-dasharray="{{this.MarkAddedPercentage}},100"
                                                        stroke-linecap="round" fill="none" cx="16.91549431"
                                                        cy="16.91549431" r="15.91549431" />
                                                    <g class="circle-chart__info">
                                                        <text style="" class="circle-chart__percent" x="16.91549431"
                                                            y="17" alignment-baseline="central" text-anchor="middle"
                                                            font-size="8">{{this.MarkAddedPercentage}}%</text>

                                                    </g>
                                                </svg>
                                            </section>

                                        </div>
                                    </div>
                                    <div class="graphTwoDiv">
                                        <div>
                                            <div>
                                                <p>Total Items : <span>{{this.TotalItems}}</span></p>
                                                <p>MarkAdded : <span>{{this.MarkAddedItems}}</span></p>
                                                <p>Published : <span>{{this.PublishedItems}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="headerDiv">
                                    <h4>{{this.CategoryName}} status</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</section>


<script>
    var current = document.getElementById('result').className = "sidebarmenus sidebarmenus-active"

</script>