<section>
    <div class="fest-container">
        <div class="evets-MainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading"><a
                        href="/admin/{{FestDetails.FestId}}/mark/{{FestDetails.Session}}-{{FestDetails.Category}}"><span
                            class="back-button"><i class="bi bi-chevron-left"></i>
                            Back</span></a>{{FestDetails.Session}} / {{FestDetails.Category}} /
                    {{EventName}} / Add mark</h4>
                <hr>
            </div>
            <div>
                <div class="addMarkBorder">
                    {{#if EventStudents.[0]}}
                    {{#if Individual}}
                    <div class="inputsDiv">
                        <table>
                            {{#each EventStudents}}
                            <tr>
                                <form
                                    action="/admin/{{../FestDetails.FestId}}/mark/{{this.SessionName}}-{{../FestDetails.Category}}/Individual/{{../EventId}}-{{../EventName}}/add-mark"
                                    method="POST">
                                    <td class="chestNoTd"> <input type="text" name="ChestNo" value="{{this.ChestNo}}"
                                            readonly> </td>
                                    <input type="text" name="GroupId" value="{{this.GroupId}}" hidden>
                                    <input type="text" name="pointCategory" value="{{../pointCategory.categoryName}}"
                                        hidden>

                                    <td class="GradeOneTd"> <select style="" id="" name="places"
                                            onchange="changeValue('{{this.ChestNo}}')" required>

                                            <option value="">Place</option>
                                            <option {{#if this.event.One}} selected {{/if}} value="1st">1st</option>
                                            <option {{#if this.event.Two}} selected {{/if}} value="2nd">2nd</option>
                                            <option {{#if this.event.Three}} selected {{/if}} value="3rd">3rd</option>
                                            <option {{#if this.event.four}} selected {{/if}}>Nill</option>
                                        </select>


                                    </td>
                                    <td class="GradeTwoTd"> <select style="" name="grades"
                                            onchange="changeValue('{{this.ChestNo}}')" required>
                                            <option value="">Grades</option>
                                            <option {{#if this.event.A}} selected {{/if}} value="A">A</option>
                                            <option {{#if this.event.B}} selected {{/if}} value="B">B</option>
                                            <option {{#if this.event.C}} selected {{/if}} value="C">C</option>
                                            <option {{#if this.event.D}} selected {{/if}}>Nill</option>
                                        </select>

                                    </td>
                                    <td class="markSubmitButton">
                                        {{#if this.event.Mark}}
                                        <button id="TikButton{{this.ChestNo}}"><i id="TikIcon{{this.ChestNo}}"
                                                class="bi bi-check-lg"></i>
                                            {{else}}
                                            <button type="submit"> <i class="bi bi-arrow-right"></i></button>
                                            {{/if}}
                                    </td>
                                </form>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                    {{else}}{{#if Group}}
                    <div class="inputsDiv">
                        <table>
                            {{#each EventStudents}}
                            <input type="text" name="ChestNo" value="{{this.ChestNo}}" hidden readonly>
                            {{/each}}
                            {{#each AllGroups}}
                            {{#if this.student}}
                            <tr>
                                <form
                                    action="/admin/{{../FestDetails.FestId}}/mark/{{../Session}}-{{../FestDetails.Category}}/Group/{{../EventId}}-{{../EventName}}/add-mark"
                                    method="POST">
                                    <td class="chestNoTd"> <input type="text" name="GroupId" value="{{this.GroupId}}"
                                            readonly>
                                        <input type="text" name="pointCategory"
                                            value="{{../pointCategory.categoryName}}" hidden>
                                    </td>

                                    <td class="GradeOneTd"> <select id="" name="places"
                                            onchange="changeValue('{{this.GroupId}}')" required>
                                            <option value="">Place</option>
                                            <option {{#if this.student.event.One}} selected {{/if}} value="1st">1st
                                            </option>
                                            <option {{#if this.student.event.Two}} selected {{/if}} value="2nd">2nd
                                            </option>
                                            <option {{#if this.student.event.Three}} selected {{/if}} value="3rd">3rd
                                            </option>
                                            <option {{#if this.student.event.four}} selected {{/if}}>Nill</option>
                                        </select>
                                    </td>
                                    <td class="GradeTwoTd"> <select id="number-group" name="grades"
                                            onchange="changeValue('{{this.GroupId}}')" required>
                                            <option value="">Grades</option>
                                            <option {{#if this.student.event.A}} selected {{/if}} value="A">A</option>
                                            <option {{#if this.student.event.B}} selected {{/if}} value="B">B</option>
                                            <option {{#if this.student.event.C}} selected {{/if}} value="C">C</option>
                                            <option {{#if this.student.event.D}} selected {{/if}}>Nill</option>
                                        </select>

                                    </td>
                                    <td class="markSubmitButton">
                                        {{#if this.student.event.Mark}}
                                        <button id="TikButton{{this.GroupId}}"><i id="TikIcon{{this.GroupId}}"
                                                class="bi bi-check-lg action"></i>
                                            {{else}}
                                            <button type="submit"> <i class="bi bi-arrow-right action"></i></button>
                                            {{/if}}
                                    </td>
                                </form>
                            </tr>
                            {{/if}}
                            {{/each}}
                        </table>
                    </div>
                    {{/if}}{{/if}}
                    {{else}}
                    <div class="pointTable-nodataDiv">
                        <div class="pointTabel-div">
                            <div class="pointTable-IconDiv">
                                <i class="bi bi-exclamation-circle"></i>
                            </div>
                            <p>There are no students in this event</p>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var current = document.getElementById('add-mark').className = "sidebarmenus sidebarmenus-active"

</script>

{{!-- change button on submit --}}
<script>

    function changeValue(GroupId) {

        var tikbutton = document.getElementById('TikButton' + GroupId);
        var tikIcon = document.getElementById('TikIcon' + GroupId);
        tikbutton.setAttribute("type", "submit")
        tikIcon.className = 'bi bi-arrow-right'

    }
</script>

<script>
    function changePlaceAndGrade(ChestNo) {

    }
</script>