<section>
    <div class="fest-container">
        <div class="settings-mainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">Toppers</h4>
                <hr>
            </div>
            <div class="fest-profile-content">
                <div class="settings-content">

                    {{!-- For Group --}}
                    <div style="width: 100%; background-color:rgb(155, 154, 154)" class="settings-items"
                        onclick="clickTwo()">
                        <h4><i class="bi bi-slack"></i> For Group</h4>
                        <i id="clickIcon2" style="color: black; " class="bi bi-chevron-down"></i>
                    </div>
                    <div style="display:none" id="manual2" class="fest-profile-settings-item-content">
                        <div class="fest-profile-settings-session2  ">
                            <div class="FestDetailsEditDiv">
                                <form action="/fest-admin/{{FestDetails.FestId}}/mark/add_toppers" method="POST">
                                    <div class="FestDetailsEditLapToggle">

                                        <input type="text" name="FestId" value="{{FestDetails.FestId}}" hidden  >

                                        <div class="festDetialsEditsubDiv">
                                            <label for="">Group name</label>
                                            <select style="" id="" name="GroupId" required>
                                                <option value="">Choose</option>
                                                {{#each AllGroups}}
                                                {{#if this.GroupId}}
                                                <option value="{{this.GroupId}}">{{this.GroupId}} - {{GroupName}}
                                                </option>
                                                {{/if}}
                                                {{/each}}
                                            </select>
                                        </div>
                                       
                                       
                                        <div class="festDetialsEditsubDiv">
                                            <label for="">Position Title</label>
                                            <input type="text" name="Title" required>
                                        </div>
                                    </div>
                                    <div class="FestDetailsEditSubmitDiv">
                                        <button type="submit">Submit</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    {{!-- For Session --}}
                    <div style="width: 100%; background-color:rgb(155, 154, 154)" class="settings-items"
                        onclick="clickFour()">
                        <h4><i class="bi bi-puzzle-fill"></i> For Session</h4>
                        <i id="clickIcon4" style="color: black; " class="bi bi-chevron-down"></i>
                    </div>
                    <div style="display:none" id="manual4" class="fest-profile-settings-item-content">
                        <div class="fest-profile-settings-session2  ">
                            <div class="FestDetailsEditDiv">
                                <form action="/fest-admin/{{FestDetails.FestId}}/mark/add_toppers" method="POST">
                                    <div class="FestDetailsEditLapToggle">
                                        <div class="festDetialsEditsubDiv">
                                            <label for="">Fest Id</label>
                                            <input type="text" name="FestId" value="{{FestDetails.FestId}}" readonly
                                                style="cursor: not-allowed;">

                                        </div>
                                        <div class="festDetialsEditsubDiv">
                                            <label for="">Group name</label>
                                            <select style="" id="" name="GroupId" required>
                                                <option value="">Choose</option>
                                                {{#each AllGroups}}
                                                {{#if this.GroupId}}
                                                <option value="{{this.GroupId}}">{{this.GroupId}} - {{GroupName}}
                                                </option>
                                                {{/if}}
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="festDetialsEditsubDiv">
                                            <label for="">Session name</label>
                                            <select style="" id="" name="SessionName" required>
                                                <option value="">Choose</option>
                                                {{#each AllSessions}}
                                                {{#if this.status}}
                                                <option value="{{this.SessionName}}">{{this.SessionName}}</option>
                                                {{/if}}
                                                {{/each}}

                                            </select>
                                        </div>
                                       
                                        <div class="festDetialsEditsubDiv">
                                            <label for="">Position Title</label>
                                            <input type="text" name="Title" required>
                                        </div>
                                    </div>
                                    <div class="FestDetailsEditSubmitDiv">
                                        <button type="submit">Submit</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    {{!-- For Student --}}
                    <div style="width: 100%; background-color:rgb(155, 154, 154)" class="settings-items"
                        onclick="clickThree()">
                        <h4><i class="bi bi-person-circle"></i> For Student</h4>
                        <i id="clickIcon3" style="color: black; " class="bi bi-chevron-down"></i>
                    </div>
                    <div style="display:none" id="manual3" class="fest-profile-settings-item-content">
                        <div class="fest-profile-settings-session2  ">
                            <div class="FestDetailsEditDiv">
                                <form action="/fest-admin/{{FestDetails.FestId}}/mark/add_toppers" method="POST">
                                    <div class="FestDetailsEditLapToggle">
                                        <div class="festDetialsEditsubDiv">
                                            <label for="">Group name</label>
                                            <select style="" id="" name="GroupId" required>
                                                <option value="">Choose</option>
                                                {{#each AllGroups}}
                                                {{#if this.GroupId}}
                                                <option value="{{this.GroupId}}">{{this.GroupId}} - {{GroupName}}
                                                </option>
                                                {{/if}}
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="festDetialsEditsubDiv">
                                            <label for="">Session name</label>
                                            <select style="" id="" name="SessionName" required>
                                                <option value="">Choose</option>
                                                {{#each AllSessions}}
                                                {{#if this.status}}
                                                <option value="{{this.SessionName}}">{{this.SessionName}}</option>
                                                {{/if}}
                                                {{/each}}

                                            </select>
                                        </div>
                                        <input type="text" name="FestId" value="{{FestDetails.FestId}}" hidden>
                                        <div class="festDetialsEditsubDiv">
                                            <label for="">Chest no</label>
                                            <input type="number" name="ChestNo" required>
                                        </div>
      
         
                                        <div class="festDetialsEditsubDiv">
                                            <label for="">Position Title</label>
                                            <input type="text" name="Title" required>
                                        </div>
                                    </div>
                                    <div class="FestDetailsEditSubmitDiv">
                                        <button type="submit">Submit</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{#if otherMarkError}}
        <div id="close" class="Alert-box-border">
            <div>
                <div class="Alert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="Alert-box-header">
                    <i class="bi bi-exclamation-circle"></i>
                    <h4>Error !</h4>
                </div>
                <div class="alert-box-content">
                    <h5 id="loginErr">{{otherMarkError}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
               
            </div>
        </div>
        {{/if}}
        {{#if otherMarkSuccess}}
        <div style=" background-color: rgb(138, 255, 177); border-color:rgb(0, 165, 55)" class="groupAlertBorder">
            <div class="groupAlert-box-close-button">
                <i class="bi bi-x-lg" onclick="closeAlet()"></i>
            </div>
            <div class="groupAlertHead" style=" color: rgb(0, 126, 42);">
                <i class="bi bi-exclamation-circle"></i>
                <h4> Success !</h4>
            </div>
            <div class="groupAletCountent" style="color: rgb(56, 95, 69);">
                <h5>{{otherMarkSuccess}}</h5>
            </div>
            <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
        </div>
        {{/if}}
    </div>
</section>



<script>
    var current = document.getElementById('add-mark').className = "sidebarmenus sidebarmenus-active"

</script>
{{!-- Click one --}}

<script>

    var two = document.getElementById('manual2')
    var three = document.getElementById('manual3')
    var four = document.getElementById('manual4')
    var i2 = document.getElementById('clickIcon2')
    var i3 = document.getElementById('clickIcon3')
    var i4 = document.getElementById('clickIcon4')



    function clickTwo() {

        if (two.style.display === "none") {
            two.style.display = "block";
            three.style.display = "none";
            four.style.display = "none";
            i2.className = 'bi bi-chevron-up'
            i3.className = 'bi bi-chevron-down'
            i4.className = 'bi bi-chevron-down'
        } else {
            two.style.display = "none";
            i2.className = 'bi bi-chevron-down'
        }

    }

    function clickThree() {

        if (three.style.display === "none") {
            two.style.display = "none";
            three.style.display = "block";
            four.style.display = "none";
            i2.className = 'bi bi-chevron-down'
            i3.className = 'bi bi-chevron-up'
            i4.className = 'bi bi-chevron-down'
        } else {
            three.style.display = "none";
            i3.className = 'bi bi-chevron-down'
        }

    }

    function clickFour() {

        if (four.style.display === "none") {
            two.style.display = "none";
            three.style.display = "none";
            four.style.display = "block";
            i2.className = 'bi bi-chevron-down'
            i3.className = 'bi bi-chevron-down'
            i4.className = 'bi bi-chevron-up'
        } else {
            four.style.display = "none";
            i4.className = 'bi bi-chevron-down'
        }

    }

</script>