<section>
    <div class="fest-container">
        <div class="evets-MainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">Student baise result / Groups</h4>
                <hr>
            </div>
        </div>
        <div class="event-baise-result-Div">
            {{#if categoryNull}}
            {{else}}
            <div class="CFsessionOne">
                <div class="inputDiv">
                    <input id="searchInput" type="text" placeholder="Search student or Chest number or CIC number..."
                        name="CategoryName">
                    <i onclick="SearchStudent('{{FestDetails.FestId}}')" style="top: 5px; right:2px; color:white"
                        class="bi bi-search searchIcon-resultPage"></i>
                </div>
            </div>
            {{/if}}

            <div id="SessionChart" class="events-content" style="margin-top: 15px;  ">
                {{#if categoryNull}}
                <div class="pointTable-nodataDiv">
                    <div class="pointTabel-div">
                        <div class="pointTable-IconDiv">
                            <i class="bi bi-emoji-frown"></i>
                        </div>
                        <p>You have not created any point category...</p>
                        <a href="/fest-admin/{{FestDetails.FestId}}/point-table/add-table">
                            <button><i class="bi bi-plus-circle-dotted"></i> Create point category</button>
                        </a>
                    </div>
                </div>
                {{else}}
                {{#each AllGroups}}
                <div class="events-content">
                    <a href="/fest-admin/{{../FestDetails.FestId}}/result/student-baise/{{this.GroupId}}">
                        <div class="eventHeaderDiv">
                            {{#if this.GroupId}}
                            <h4>{{this.GroupName}} - ({{this.GroupId}})</h4>
                            {{else}}
                            <h4 style="font-weight: normal; font-style:italic;">{{this.GroupName}} - Group not activated
                            </h4>
                            {{/if}}
                            <span><i class="bi bi-arrow-right"></i></span>
                        </div>
                    </a>

                </div>
                {{/each}}


                {{/if}}
            </div>
            <div id="searchResultDiv" class="searchResultDiv" style="display:none;">
                <div class="searchResultHeader">
                    <h3 id="foundResultCount">Found 0 results</h3>
                    <p onclick="closeResult()"><i class="bi bi-x-lg"></i></p>
                </div>
                <div id="searchContent">

                </div>

            </div>

        </div>




    </div>
</section>


<script>

    var current = document.getElementById('result').className = "sidebarmenus sidebarmenus-active"

</script>

{{!-- Search Event --}}

<script>

    var boarderDiv = document.getElementById('searchResultDiv')
    var mainDiv = document.getElementById('searchContent')
    var Session = document.getElementById('SessionChart')
    var resultCount = document.getElementById('foundResultCount')
    var Input = document.getElementById('searchInput')


    // no such result
    const nunBorder = document.createElement("div");
    const h2 = document.createElement("h2")

    nunBorder.className = "noSuchResult";

    nunBorder.appendChild(h2)

    // Full Result


    function SearchStudent(FestId) {
        let searchValue = document.getElementById("searchInput").value
        $.ajax({
            url: '/fest-admin/search-student-result',
            data: {
                FestId,
                searchValue
            },
            method: 'post',
            success: (searchResult) => {
                if (searchResult[0]) {
                    Session.style.display = 'none'
                    boarderDiv.style.display = 'block'
                    resultCount.innerHTML = "Found " + searchResult.length + " results"
                    mainDiv.innerHTML = null

                    searchResult.forEach(myFunction)
                    function myFunction(item, index) {
                        const a = document.createElement("a")
                        const R_BoarderDiv = document.createElement("div")
                        const R_Header = document.createElement("div")
                        const h3 = document.createElement("h3")
                        const h4_1 = document.createElement("h4")
                        const h4_2 = document.createElement("h4")
                        const R_Bottom = document.createElement("div")

                        a.href = "/fest-admin/" + FestId + "/result/student-baise/" +item.GroupId+"/"+item.SessionName+"/Students/"+item.ChestNo
                        R_BoarderDiv.className = "searchResultOne"
                        R_Header.className = "header"
                        R_Bottom.className = "Bottom"
                        h3.innerHTML = item.ChestNo + " - " + item.FullName
                        
                        h4_2.innerHTML = item.GroupId + " / " + item.GroupName + " / " + item.SessionName + " / CIC No : " + item.CicNo 

                        mainDiv.appendChild(a)
                        a.appendChild(R_BoarderDiv)
                        R_BoarderDiv.appendChild(R_Header)
                        R_Header.appendChild(h3)
                        R_Header.appendChild(h4_1)
                        R_BoarderDiv.appendChild(R_Bottom)
                        R_Bottom.appendChild(h4_2)


                    }




                } else if (searchResult === 0) {
                    resultCount.innerHTML = "Found 0 results"
                    Session.style.display = 'none'
                    boarderDiv.style.display = 'block'
                    mainDiv.innerHTML = null
                    mainDiv.appendChild(nunBorder)
                    h2.innerHTML = "Search something"
                } else {
                    resultCount.innerHTML = "Found 0 results"
                    Session.style.display = 'none'
                    boarderDiv.style.display = 'block'
                    mainDiv.innerHTML = null
                    mainDiv.appendChild(nunBorder)
                    h2.innerHTML = "No such result"

                }
            }
        })
    }

    function closeResult() {
        Session.style.display = 'block'
        boarderDiv.style.display = 'none'
        Input.value = ""
    }
</script>