<section>
    <div class="fest-container">
        <div class="evets-MainDiv">

            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">Toppers view /
                    {{#if Group}}
                    For group
                    {{else}}{{#if Session}}
                    For session
                    {{else}}{{#if Student}}
                    For student
                    {{/if}} {{/if}} {{/if}}
                </h4>
                <hr>
            </div>
            {{#if result.[0]}}
            <div class="events-content">
                <div class="allEventDiv">
                    <table id="allEvent-table" class="auto-index" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Sl no</th>
                                <th>Title</th>
                                {{#if Student}}
                                <th>Chest no</th>
                                <th>Name</th>
                                {{/if}}
                                {{#if Group}}
                                <th>Group ID</th>
                                {{/if}}
                                <th>Group name</th>
                                {{#if Session}}
                                <th>Session name</th>
                                {{/if}}
                                {{#if Student}}
                                <th>Session name</th>
                                {{/if}}
                                
                                <th>Control</th>



                            </tr>
                        </thead>
                        <tbody class="ResultChart">

                            {{#each result}}
                            <tr>
                                <td></td>
                                <!--leave it blank-->
                                <td>{{this.Title}}</td>
                                {{#if ../Student}}
                                <td>{{this.ChestNo}}</td>
                                <td>{{this.FullName}}</td>
                                {{/if}}
                                {{#if ../Group}}
                                <td>{{this.GroupId}}</td>
                                {{/if}}
                                <td>{{this.GroupName}}</td>
                                {{#if ../Session}}
                                <td>{{this.SessionName}}</td>
                                {{/if}}
                                {{#if ../Student}}
                                <td>{{this.SessionName}}</td>
                                {{/if}}
                                
                                <td><span><a title="Edit" href="/fest-admin/{{../FestDetails.FestId}}/mark/toppers/edit/{{this._id}}"><i
                                                style="cursor: pointer;" class="bi bi-pencil-square"></i></a>
                                                <a title="Remove" href="/fest-admin/{{../FestDetails.FestId}}/mark/toppers/delete/{{this._id}}"
                                                onclick="return confirm('Are you want to delete this Topper ?')"><i
                                                style="cursor: pointer; margin-left:5px; color:red;" class="bi bi-trash"></i></a>
                                                </span>
                                </td>
                            </tr>
                            {{/each}}

                        
                        </tbody>

                    </table>
                </div>
                <div class="pointTable-printbutton" style="margin-top: 15px;">
                    <button class="print-button" onclick="PrintDiv('print-container','nsaonline.in')"><i
                            class="bi bi-printer-fill"></i>
                        Print</button>
                    
                </div>
            </div>
            {{else}}
            <div class="pointTable-nodataDiv">
                <div class="pointTabel-div">
                    <div class="pointTable-IconDiv">
                        <i class="bi bi-clipboard-data"></i>
                    </div>
                    <p>Result not available</p>

                </div>
            </div>
            {{/if}}
        </div>
    </div>
</section>


{{!-- print side --}}
<div hidden id="print-container">

    <head>
        <link rel='stylesheet' href='/stylesheets/admin/print.css' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    </head>
    <table class="printTable-border">
        <thead>
            <tr>
                <td>
                    <div class="printHeader">
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="printContent">
                        {{#if result.[0]}}


                        <table class="auto-index print-Table">
                            <thead>
                                <tr>
                                    <th>Sl no</th>
                                    <th>Title</th>
                                    {{#if Student}}
                                    <th>Chest no</th>
                                    <th>Name</th>
                                    {{/if}}
                                    {{#if Group}}
                                    <th>Group ID</th>
                                    {{/if}}
                                    <th>Group name</th>
                                    {{#if Session}}
                                    <th>Session name</th>
                                    {{/if}}
                                    {{#if Student}}
                                    <th>Session name</th>
                                    {{/if}}
                                   



                                </tr>
                            </thead>
                            <tbody class="ResultChart">

                                {{#each result}}
                                <tr>
                                    <td></td>
                                    <!--leave it blank-->
                                    <td>{{this.Title}}</td>
                                    {{#if ../Student}}
                                    <td>{{this.ChestNo}}</td>
                                    <td>{{this.FullName}}</td>
                                    {{/if}}
                                    {{#if ../Group}}
                                    <td>{{this.GroupId}}</td>
                                    {{/if}}
                                    <td>{{this.GroupName}}</td>
                                    {{#if ../Session}}
                                    <td>{{this.SessionName}}</td>
                                    {{/if}}
                                    {{#if ../Student}}
                                    <td>{{this.SessionName}}</td>
                                    {{/if}}
                                    
                                </tr>
                                {{/each}}


                            </tbody>
                        </table>
                        {{else}}
                        <div class="pointTable-nodataDiv">
                            <p style="text-align: center;">No data available...</p>
                        </div>
                        {{/if}}
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="printFooter">

                    </div>

                </td>
            </tr>
        </tfoot>
    </table>

    <div class="print-header-space">
        <div class="print-header-conternt">
            <div>
                <img src="/images/fest-logo/{{FestDetails.FestId}}.jpg" onerror="this.onerror=null;callfun(this);"
                    alt="Fest Logo">
                <div>
                    <h2>{{FestDetails.FestName}} </h2>
                    <h4>FestID : {{FestDetails.FestId}}</h4>
                    <p> Fest Date :{{FestDetails.FestDate}} </p>
                </div>
            </div>
            <div class="sessionTwo">
                <div>
                    <p style="font-weight: bold;"> NOORUL HUDA STUDENTS ASSOCIATION (NSA) </p>
                    <p> Run by: Majma'a Wafy College - Kavanur </p>
                    <p style="font-size: 14px;"> Rahmath nagar, Kavanur P.O, Areekode</p>
                </div>

            </div>
        </div>
        <div class="print-page-headline">
            <h4> - Toppers view /
                {{#if Group}}
                For group
                {{else}}{{#if Session}}
                For session
                {{else}}{{#if Student}}
                For student
                {{/if}} {{/if}} {{/if}} - </h4>
        </div>
    </div>

    <div class="print-footer-space">
        <i class="bi bi-globe"></i>
        <p>www.nsaonline.in</p>
        <i class="bi bi-envelope"></i>
        <p>nsamajmaakvr@gmail.com</p>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-youtube"></i>
        <i class="bi bi-telegram"></i>
        <p>/follow us</p>
    </div>



</div>


<script>
    var current = document.getElementById('result').className = "sidebarmenus sidebarmenus-active"
</script>


<script>
    $(document).ready(function () {
        $('#allEvent-table').DataTable();
    });
</script>