<section>
    <div class="group-container">
        <div class="evets-MainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">Student baise result / {{GroupDetails.GroupName}}</h4>
                <hr>
            </div>
        </div>
        <div class="event-baise-result-Div">
           

            <div id="SessionChart" class="events-content" style="margin-top: 15px;  ">
               
                {{#each GroupDetails.Category}}
                 {{#if this.Status}}
                <div class="events-content">
                    <a href="/e/{{../eventDetails.EventId}}/student-baise/{{../GroupDetails.GroupId}}/{{this.CategoryName}}/Students">
                        <div class="eventHeaderDiv">
                           
                            <h4>{{this.CategoryName}} </h4>
                           
                            <span style="background-color: var(--color-green-one);">{{StudentsCount}}</span>
                        </div>
                    </a>

                </div>
                {{/if}}
                {{/each}}     
            </div>
        </div>
    </div>
</section>


