<section>
    <div class="fest-container">
        <div class="groupsmainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">{{GroupId}} / {{SessionName}} / Add students
                </h4>
                <hr>
            </div>
            <div class="AddGroupStudents-content">

                {{#if StudentActiveNull }}
                <div class="GroupStudentsZero">
                    <div class="pointTabel-div">
                        <div class="pointTable-IconDiv">
                            <i class="bi bi-hourglass-top"></i>
                        </div>
                        <p>Time end</p>
                    </div>
                </div>
                {{else}}
                {{#if groupSessionStatus.status}}

                {{else}}
                <div class="alert-fest-home">
                    <div class="alert">
                        <i class="bi bi-exclamation-circle-fill"></i>
                        <h4>This group session not activated</h4>
                    </div>
                </div>
                <div class="alert-fest-home">
                    <div class="alert"
                        style="    background-color: rgb(255, 184, 184);  border-color: rgb(189, 0, 0); ">
                        <i style="color: rgb(189, 0, 0);" class="bi bi-x-circle-fill"></i>
                        <h4 style="color: rgb(189, 0, 0);">Do not create new students</h4>
                    </div>
                </div>
                {{/if}}
                <div class="AddGroupStudetns-Div">
                    <form
                        action="/fest-admin/{{FestDetails.FestId}}/groups/{{GroupId}}/{{SessionName}}/students/add-student"
                        method="POST">
                        <div class="addStudetns-form">
                            <div> <label for="">CIC No :</label></div>
                            <div><input type="text" name="CicNo" autofocus required></div>
                        </div>
                        <div class="addStudetns-form">
                            <div> <label for="">Full name :</label></div>
                            <div><input type="text" name="FullName" required></div>
                        </div>
                        {{#if groupSessionStatus.status}}
                        <div class="addStudetns-form-Button">
                            <button style="background-color: var(--color-two);" type="submit">Submit</button>
                        </div>
                        {{else}}
                      
                    {{/if}}
                    </form>
                </div>
            </div>
            {{/if}}
            {{#if cicNOError}}
            <div class="groupAlertBorder">
                <div class="groupAlert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="groupAlertHead">
                    <i class="bi bi-exclamation-circle"></i>
                    <h4>Create failed !</h4>
                </div>
                <div class="groupAletCountent">
                    <h5>{{cicNOError}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
            </div>
            {{/if}}
            {{#if cicNoSuccess}}
            <div style=" background-color: rgb(138, 255, 177); border-color:rgb(0, 165, 55)" class="groupAlertBorder">
                <div class="groupAlert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="groupAlertHead" style=" color: rgb(0, 126, 42);">
                    <i class="bi bi-exclamation-circle"></i>
                    <h4>Create Success !</h4>
                </div>
                <div class="groupAletCountent" style="color: rgb(56, 95, 69);">
                    <h5>{{cicNoSuccess}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
            </div>
            {{/if}}
        </div>
    </div>
</section>

{{!-- active button --}}
<script>
    var current = document.getElementById('groups').className = "sidebarmenus sidebarmenus-active"

</script>