<section>
    <div class="fest-container">
        <div class="addpointtable-mainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">{{FestDetails.Session}} / {{FestDetails.Category}} / Add
                    event</h4>
                <hr>
            </div>
            <div class="addPointTable-content">
                <form
                    action="/fest-admin/{{FestDetails.FestId}}/events/{{FestDetails.Session}}-{{FestDetails.Category}}/add-event"
                    method="POST">
                    <div id="create-fest-page2">
                        <input type="text" hidden name="FestId" value="{{FestDetails.FestId}}">

                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">Event title </label>
                            </div>
                            <div class="inputDiv">
                                <input type="text" name="EventName" autofocus id="eventNameInput" placeholder="Event name"
                                    required>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">Point category </label>
                            </div>
                            <div class="inputDiv">
                                <select style="" id="number-group" name="PointCategoryName" required>
                                    {{#each pointCategoryOptions}}
                                    <option value="{{this.categoryName}}">{{this.categoryName}} category</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">Type of event </label>
                            </div>
                            <div class="inputDiv">
                                <select style="" id="number-group" name="TypeOfEvent" required>
                                    <option value="Individual">Individual type</option>
                                    <option value="Group">Group type</option>
                                    {
                                </select>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">Limit of students </label>
                            </div>
                            <div class="inputDiv">
                                <input title="" type="number" name="EventLimit"
                                    placeholder="Limitation of students who can attend" required>
                            </div>
                        </div>

                        <div class="CFsessionOneNext">
                            <button type="submit" class="CFsessionOneNextButton"><i class="bi bi-check-lg"></i> Submit
                            </button>
                        </div>


                        {{#if successAddEvent}}
                        <div style=" background-color: rgb(138, 255, 177); border-color:rgb(0, 165, 55)"
                            class="groupAlertBorder">
                            <div class="groupAlert-box-close-button">
                                <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                            </div>
                            <div class="groupAlertHead" style=" color: rgb(0, 126, 42);">
                                <i class="bi bi-exclamation-circle"></i>
                                <h4>Create Success !</h4>
                            </div>
                            <div class="groupAletCountent" style="color: rgb(56, 95, 69);">
                                <h5>New event successfully added</h5>
                            </div>
                            <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
                        </div>
                        {{/if}}

                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script>
    var current = document.getElementById('event').className = "sidebarmenus sidebarmenus-active"

</script>