<section>
    <div class="fest-container">
        <div class="AdminNotification-mainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">All notification</h4>
                <hr>
            </div>
            <div>
                <div class="notificationBoarder">
                    <div class="otherContentDiv">
                        <a href="/fest-admin/{{FestDetails.FestId}}/notification-settings/all/commen/notifications">
                            <div class="otherItems">
                                <h4><i style="margin-right: 5px;" class="bi bi-box"></i> Common notifications</h4>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </a>
                        {{#each AllGroups}}
                        {{#if this.GroupId}}
                        <a href="/fest-admin/{{this.FestId}}/notification-settings/all/{{this.GroupId}}-{{this.GroupName}}/notifications">
                            <div class="otherItems">
                                <h4><i style="margin-right: 5px;" class="bi bi-box"></i> {{this.GroupId}} -
                                    {{this.GroupName}}</h4>
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </a>
                        {{else}}
                        <a href="">
                            <div class="otherItems">
                                <h4><i style="margin-right: 5px;" class="bi bi-box"></i> {{this.GroupName}}</h4>
                                <p style="font-style: italic;" >Not activated</p>
                            </div>
                        </a>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
</section>

<script>
    var current = document.getElementById('settings').className = "sidebarmenus sidebarmenus-active"

</script>