<section>
    <div class="fest-container">
        <div class="addpointtable-mainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading"><a href="/fest-admin/{{FestDetails.FestId}}/events/{{SessionName}}-{{CategoryName}}"><span class="back-button"><i class="bi bi-chevron-left"></i> Back</span></a>Edit event</h4>
                <hr>
            </div>
            <div class="addPointTable-content">
                <form action="/fest-admin/{{FestDetails.FestId}}/events/{{SessionName}}/{{CategoryName}}/edit-event" method="POST">
                    <div id="create-fest-page2">

                        <input type="text" hidden name="FestId" value="{{FestDetails.FestId}}">

                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">Event ID</label>
                            </div>
                            <div class="inputDiv">
                                <input type="text" value="{{result.EventId}}" name="EventId" required>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">Event name</label>
                            </div>
                            <div class="inputDiv">
                                <input type="text" value="{{result.EventName}}" name="EventName" required>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">Point category</label>
                            </div>
                            <div class="inputDiv">
                                <select style="" id="number-group" name="PointCategoryName" required>
                                    <option >Choose...</option>
                                    {{#each pointCategoryOptions}}
                                    <option {{#if this.index}} selected {{/if}} value="{{this.categoryName}}">{{this.categoryName}} category</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">Type of event</label>
                            </div>
                            <div class="inputDiv">
                                <select style="" id="number-group" name="TypeOfEvent" required>
                                    <option value="">Choose...</option>
                                    {{#if result.Group}}
                                    <option value="Individual">Individual type</option>
                                    <option selected value="Group">Group type</option>
                                    {{else}}
                                    <option selected value="Individual">Individual type</option>
                                    <option value="Group">Group type</option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">Limit of student</label>
                            </div>
                            <div class="inputDiv">
                                <input type="number" value="{{result.EventLimit}}" name="EventLimit" required>
                            </div>
                        </div>
                        


                        <div class="CFsessionOneNext">
                            <button  onclick="changeLoading()" id="submitButton" type="submit" class="CFsessionOneNextButton"><i class="bi bi-check-lg"></i> Submit
                            </button>
                        </div>


                    </div>

                </form>
            </div>
    
        </div>
    </div>
</section>

<script>
    var current = document.getElementById('event').className = "sidebarmenus sidebarmenus-active"

</script>

<script>
   function changeLoading(){
       document.getElementById('submitButton').innerHTML = `<img src="/images/images/loading2.gif" style="width: 20px; hight: 20px;" alt="" srcset=""> Submit`
   }
</script>