<section>
    <div class="fest-container">
        <div class="evets-MainDiv">

            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">{{FestDetails.Session}} / {{FestDetails.Category}} /
                    {{EventName}}
                </h4>
                <hr>
            </div>
            <div class="pointTable-addButton">
                <p>Create new student this event :</p>
                <a href="/fest-admin/{{FestDetails.FestId}}/events/{{SessionName}}-{{CategoryName}}/{{EventId}}-{{EventName}}/add-students">
                    <button><i class="bi bi-plus-circle-dotted"></i> Add</button>
                </a>
            </div>
            <div class="events-content">
                <div class="allEventDiv">
                    <table id="allEvent-table" class="auto-index">
                        <thead>
                            <tr>
                                <th>Sl no</th>
                                <th>GroupId</th>
                                <th>ChestNo</th>
                                <th>CIC No</th>
                                <th>Name</th>

                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each EventStudents}}
                            <tr>
                                <td></td>
                                <!--leave it blank-->
                                <td>{{this.GroupId}}</td>
                                <td>{{this.ChestNo}}</td>
                                <td>{{this.CicNo}}</td>
                                <td>{{this.FullName}}</td>
                                <td><a href="/fest-admin/{{../FestDetails.FestId}}/events/{{../SessionName}}-{{../CategoryName}}/{{../EventId}}-{{../EventName}}/{{this.GroupId}}/{{this.ChestNo}}/delete-event"
                                        onclick="return confirm('Are you want to delete {{FullName}}s this event  ?')"><button
                                            class="pointCateoryDeletButton"> <i class="bi bi-trash"></i></button></a>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
                <div class="pointTable-printbutton">
                    <button class="print-button" onclick="PrintDiv('print-container','nsaonline.in')"><i
                            class="bi bi-printer-fill"></i>
                        Print</button>
                </div>
            </div>
        </div>
    </div>
</section>


{{!-- print side --}}
<div hidden id="print-container">

    <head>
        <link rel='stylesheet' href='/stylesheets/admin/print.css' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    </head>
    <table class="printTable-border">
        <thead>
            <tr>
                <td>
                    <div class="printHeader">
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="printContent">
                        {{#if EventStudents.[0]}}


                        <table class="auto-index print-Table">
                            <thead>
                                <tr>
                                    <th>Sl no</th>
                                    <th>GroupId</th>
                                    <th>ChestNo</th>
                                    <th>CIC No</th>
                                    <th>Name</th>


                                </tr>
                            </thead>
                            <tbody>
                                {{#each EventStudents}}
                                <tr>
                                    <td></td>
                                    <!--leave it blank-->
                                    <td>{{this.GroupId}}</td>
                                    <td>{{this.ChestNo}}</td>
                                    <td>{{this.CicNo}}</td>
                                    <td>{{this.FullName}}</td>

                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        {{else}}
                        <div class="pointTable-nodataDiv">
                            <p style="text-align: center;">No data available...</p>
                        </div>
                        {{/if}}
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="printFooter">

                    </div>

                </td>
            </tr>
        </tfoot>
    </table>

    <div class="print-header-space">
        <div class="print-header-conternt">
            <div>
                <img src="/images/fest-logo/{{FestDetails.FestId}}.jpg" onerror="this.onerror=null;callfun(this);"
                    alt="Fest Logo">
                <div>
                    <h2>{{FestDetails.FestName}} </h2>
                    <h4>FestID : {{FestDetails.FestId}}</h4>
                    <p> Fest Date :{{FestDetails.FestDate}} </p>
                </div>
            </div>
            <div class="sessionTwo">
                <div>
                    <p style="font-weight: bold;"> NOORUL HUDA STUDENTS ASSOCIATION (NSA) </p>
                    <p> Run by: Majma'a Wafy College - Kavanur </p>
                    <p style="font-size: 14px;"> Rahmath nagar, Kavanur P.O, Areekode</p>
                </div>

            </div>
        </div>
        <div class="print-page-headline">
            <h4> - All Students ( {{FestDetails.Session}} / {{EventName}} )- </h4>
        </div>
    </div>

    <div class="print-footer-space">
        <i class="bi bi-globe"></i>
        <p>www.nsaonline.in</p>
        <i class="bi bi-envelope"></i>
        <p>nsamajmaakvr@gmail.com</p>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-youtube"></i>
        <i class="bi bi-telegram"></i>
        <p>/follow us</p>
    </div>



</div>


<script>
    var current = document.getElementById('event').className = "sidebarmenus sidebarmenus-active"

</script>

<script>
    $(document).ready(function () {
        $('#allEvent-table').DataTable();
    });
</script>