<section>
    <div class="fest-container">
        <div class="evets-MainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">All events</h4>
                <hr>
            </div>
            <div class="events-content">
                {{#if categoryNull}}
                <div class="pointTable-nodataDiv">
                    <div class="pointTabel-div">
                        <div class="pointTable-IconDiv">
                        <i class="bi bi-emoji-frown"></i>
                        </div>
                        <p>You have not created any point category...</p>
                        <a href="/fest-admin/{{FestDetails.FestId}}/point-table/add-table">
                            <button><i class="bi bi-plus-circle-dotted"></i> Create point category</button>
                        </a>
                    </div>
                </div>

                {{else}}

                {{#each allItemCategorys}}
                <div class="events-content">
                    <a href="/fest-admin/{{../FestDetails.FestId}}/events/{{this.SessionName}}-{{this.Category1}}">
                        <div class="eventHeaderDiv">
                            <h4>{{this.SessionName}} - {{this.Category1}}</h4>
                            <span>{{this.StageCount}}</span>
                        </div>
                    </a>
                    <a href="/fest-admin/{{../FestDetails.FestId}}/events/{{this.SessionName}}-{{this.Category2}}">
                        <div class="eventHeaderDiv">
                            <h4>{{this.SessionName}} - {{this.Category2}}</h4>
                            <span>{{this.OffStageCount}}</span>
                        </div>
                    </a>
                </div>
                {{/each}}


                {{/if}}
            </div>
        </div>
    </div>
</section>

<script>
    var current = document.getElementById('event').className = "sidebarmenus sidebarmenus-active"

</script>