<section>
    <div class="fest-container">
        <div class="AdminNotification-mainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading"><a href="/fest-admin/{{FestDetails.FestId}}/notification-settings/all"><span class="back-button"><i class="bi bi-chevron-left"></i> Back</span></a>All notification / {{GroupName}}</h4>
                <hr>
            </div>
            <div>
                <div class="notificationBoarder">
                    <div class="allGroupsTableDiv">
                        <table id="allGroup-table" class="auto-index">
                            <thead>
                                <tr>
                                    <th>Sl no</th>
                                    <th>Date</th>
                                    <th>Message header</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Control</th>

                                </tr>
                            </thead>
                            <tbody>

                                {{#each FullNotifications}}

                                <p class="MessageId" hidden>{{this.MessageId}}</p>
                                <tr>
                                    <td></td>
                                    <!--leave it blank-->
                                    <td>{{this.MessageDate}}</td>
                                    <td>{{this.Header}}</td>
                                    <p id="MType{{this.MessageId}}" hidden>{{this.Type}}</p>
                                    <td id="typeTD{{this.MessageId}}"></td>
                                    <td class="AllNotificationViewTd">
                                        {{#if this.View}}
                                        <i title="Not seen" style="color: rgb(0, 0, 0);" class="bi bi-check2-all"></i>
                                        {{else}}
                                        {{#if this.Read}}
                                        <i title="Saw" style="color: rgb(0, 157, 219);" class="bi bi-check2-all"></i>
                                        {{else}}
                                        <i title="Read" style="color: rgb(0, 157, 219);" class="bi bi-book"></i>
                                        {{/if}}{{/if}}
                                        {{#if Clear}}
                                        <i title="Cleared" style="color: rgb(238, 2, 2);" class="bi bi-trash"></i>
                                        <a
                                            href="/fest-admin/{{../FestDetails.FestId}}/notification-settings/all/commen/notifications/{{../GroupId}}-{{../GroupName}}/{{this.MessageId}}/recover">
                                            <i title="Recover this message" style="color: rgb(117, 117, 117);"
                                                class="bi bi-question-circle"></i></a>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <a id="ViewButton{{this.MessageId}}" title="user view"
                                            href="/fest-admin/{{../FestDetails.FestId}}/notification-settings/all/commen/notifications/{{this.MessageId}}/view"><button
                                                style="background-color: var(--color-view);"
                                                class="pointCateoryDeletButton"> <i
                                                    class="bi bi-eye-fill"></i></button></a>
                                        <a id="DeleteButton{{this.MessageId}}"
                                            href="/fest-admin/{{../FestDetails.FestId}}/notification-settings/all/commen/notifications/{{../GroupId}}-{{../GroupName}}/{{this.MessageId}}/delete"
                                            onclick="return confirm('Are you want to delete this message ?')"><button
                                                class="pointCateoryDeletButton"> <i
                                                    class="bi bi-trash"></i></button></a>
                                       
                                    </td>


                                </tr>

                                {{/each}}



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var current = document.getElementById('settings').className = "sidebarmenus sidebarmenus-active"
</script>

{{!-- table jqury --}}
<script>
    $(document).ready(function () {
        $('#allGroup-table').DataTable();
    });
</script>

<script>
    var id = document.getElementsByClassName('MessageId')
    for (let i = 0; i < id.length; i++) {
        var thisId = id[i].outerText
        var Mtype = document.getElementById('MType' + thisId).innerHTML
        var TypeTD = document.getElementById('typeTD' + thisId)
        var ViewButton = document.getElementById('ViewButton' + thisId)
        var DeleteButton = document.getElementById('DeleteButton' + thisId)
       
        if (Mtype === "Notific_One") {
      
             TypeTD.innerHTML = `<i title = "Personal" class="bi bi-person-fill"></i>`
        } else if (Mtype === "Notific_Full") {
            TypeTD.innerHTML = `<i title = "Group" class="bi bi-people-fill"></i>`
           
            DeleteButton.style.display = 'none'

        } else {
            TypeTD.innerHTML = `<i title = "Auto" class="bi bi-bell-fill"></i>`
        }

    }
</script>