<section>
    <div class="fest-container">
        <div class="AdminNotification-mainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">Notification settings</h4>
                <hr>
            </div>
            <div>
                <div class="notificationBoarder">
                    <div class="multi">
                        <label for="">Notification Type :</label>
                        <div style="margin-top: 5px;">
                            <button id="allGroupButton" class="button notificationButton" onclick="AllGroup()">Common</button>
                            <button style="background-color: gray;" id="groupButton" class="button notificationButton"
                                onclick="Group()">For group</button>
                        </div>
                    </div>
                    <form action="/fest-admin/{{FestDetails.FestId}}/notification-settings/send" method="POST">
                        <div id="groupName" style="margin-top: 10px; display:none" class="chooseGroup">
                            <p style="font-style: italic; color:gray"> Send message to specific group. Select the groups
                                to   which the message should be send</p>
                            <p style="font-style: italic; color:gray; margin-top:-10px"> If you do not select anything, all groups will be
                                selected</p>
                            <div class="">
                                {{#each AllGroups}}
                                {{#if this.GroupId}}
                                <input type="checkbox" id="vehicle1" name="GroupId" value="{{this.GroupId}}">
                                <label for="vehicle1">{{this.GroupId}} - {{this.GroupName}}</label><br>
                                {{/if}}
                                {{/each}}

                            </div>
                        </div>
                        <div id="allgroupName" style="margin-top: 10px; " class="chooseGroup">
                            <p style="font-style: italic; color:gray"> Send message to all fest groups.</p>

                        </div>


                        <div style="margin-top: 20px;" class="notificationConternt">
                            <p>Message content</p>
                            <div>
                                <input type="text" name="MessageHeader" placeholder="Header *" required>
                                <textarea name="Message" id="" cols="30" rows="10" placeholder="Message... *"
                                    required></textarea>
                                <input type="text" name="MessageLink" placeholder="Page URL">
                                <div>
                                    <button type="submit" class="button"><i class="bi bi-envelope"></i> Send
                                        Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {{#if cicNOError}}
            <div class="groupAlertBorder">
                <div class="groupAlert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="groupAlertHead">
                    <i class="bi bi-exclamation-circle"></i>
                    <h4>Create failed !</h4>
                </div>
                <div class="groupAletCountent">
                    <h5>{{cicNOError}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
            </div>
            {{/if}}
            {{#if messageSend}}
            <div style=" background-color: rgb(138, 255, 177); border-color:rgb(0, 165, 55)" class="groupAlertBorder">
                <div class="groupAlert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="groupAlertHead" style=" color: rgb(0, 126, 42);">
                    <i class="bi bi-check-circle"></i>
                    <h4>Sended !</h4>
                </div>
                <div class="groupAletCountent" style="color: rgb(56, 95, 69);">
                    <h5>{{messageSend}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
            </div>
            {{/if}}
        </div>
    </div>
</section>

<script>
    var a = document.getElementById('groupName')
    var y = document.getElementById('allGroupButton')
    var z = document.getElementById('groupButton')
    var b = document.getElementById('allgroupName')

    function Group() {
        if (a.style.display === "none") {
            a.style.display = "block"
            z.style.backgroundColor = 'rgb(3, 151, 70)'
            y.style.backgroundColor = 'gray'
            b.style.display = 'none'
        }
    }
    function AllGroup() {
        if (a.style.display === "block") {
            a.style.display = "none"
            z.style.backgroundColor = 'gray'
            y.style.backgroundColor = 'rgb(3, 151, 70)'
            b.style.display = 'block'

        }
    }
</script>


<script>
    var current = document.getElementById('settings').className = "sidebarmenus sidebarmenus-active"

</script>