<section>
    <div class="fest-container">
        <div class="settings-mainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">Settings & Other</h4>
                <hr>
            </div>
            <div class="settings-content">
                <a href="/fest-admin/{{FestDetails.FestId}}/settings/fest-profile">
                    <div class="settings-items">
                        <h4><i class="bi bi-palette-fill"></i> Fest </h4>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
              
                <a href="/fest-admin/{{FestDetails.FestId}}/settings/sessions">
                    <div class="settings-items">
                        <h4><i class="bi bi-subtract"></i> Sessions</h4>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
                  <a href="/fest-admin/{{FestDetails.FestId}}/student/student-without-program">
                    <div class="settings-items">
                        <h4><i class="bi bi-folder-x"></i> Student without program   </h4>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
                <a href="/fest-admin/{{FestDetails.FestId}}/program-schedule">
                    <div class="settings-items">
                        <h4><i class="bi bi-file-earmark-arrow-up-fill"></i> File upload</h4>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
                <a href="/fest-admin/{{FestDetails.FestId}}/notification-settings">
                    <div class="settings-items">
                        <h4><i class="bi bi-chat-right-text-fill"></i> Send notification </h4>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
                <a href="/fest-admin/{{FestDetails.FestId}}/notification-settings/all">
                    <div class="settings-items">
                        <h4><i class="bi bi-folder-fill"></i> All notifications</h4>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
                
                    <div class="settings-items" onclick="refreshPage('{{FestDetails.FestId}}')">
                        <h4><i class="bi bi-arrow-clockwise"></i> Refresh</h4>
                         <img style="display: none;" id="refreshLoading" class="refresh-loading" src="/images/images/loading2.gif">
                    </div>
                
             
               
               

            </div>
        </div>
    </div>
</section>



<script>
    var current = document.getElementById('settings').className = "sidebarmenus sidebarmenus-active"

</script>


    
<script>
    function refreshPage(FestId){
        console.log(FestId)
        let loading = document.getElementById('refreshLoading')
       loading.style.display = 'block'
        $.ajax({
            url:'/fest-admin/'+ FestId +'/settings/refresh',
            data:{
                FestId
            },
            method:'post',
            success:(result)=>{
               location.reload()
            }
        })
    }
</script>
