<section>
    <div class="fest-container">
        <div class="groupsmainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">{{GroupDetails.GroupName}} - All Students</h4>
                <hr>
            </div>
            <div class="groups-content">
                <div class="allCategory-content">
                    {{#each AllSessions}}
                    {{#if this.status}}
                    <a id="mainDiv"
                        href="/fest-admin/{{../FestDetails.FestId}}/groups/{{../GroupDetails.GroupId}}/{{this.SessionName}}/students">
                        <div class="allGroupCatetory-items">
                            <h4>{{this.SessionName}}</h4>
                            <p style="background-color: var(--color-two);">{{StudentsCount}}</p>
                        </div>
                    </a>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="groupsmainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">{{GroupDetails.GroupName}} - All Events</h4>
                <hr>
            </div>
            <div class="groups-content">
                <div class="allCategory-content">
                    {{#each allItemCategorys}}
 {{!-- href="/fest-admin/{{..FestDetails.FestId}}/groups/{{../GroupDetails.GroupId}}/{{this.SessionName}}/{{this.Category}}/Events" --}}
                    <a id="mainDiv" href="/fest-admin/{{../FestDetails.FestId}}/groups/{{../GroupDetails.GroupId}}/{{this.SessionName}}/{{this.Category1}}/Events"> 
                        <div class="allGroupCatetory-items">
                            <h4>{{this.SessionName}} - {{this.Category1}}</h4>
                            <p style="background-color: var(--color-two);">{{this.StageCount}}</p>
                        </div>
                    </a>
                    <a id="mainDiv"  href="/fest-admin/{{../FestDetails.FestId}}/groups/{{../GroupDetails.GroupId}}/{{this.SessionName}}/{{this.Category2}}/Events">
                        <div class="allGroupCatetory-items">
                            <h4>{{this.SessionName}} - {{this.Category2}}</h4>
                            <p style="background-color: var(--color-two);">{{this.OffStageCount}}</p>
                        </div>
                    </a>

                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- active button --}}
<script>
    var current = document.getElementById('groups').className = "sidebarmenus sidebarmenus-active"

</script>